.idea
.vagrant

node_modules/
.sass-cache/
.sublime/

# OSX 
*.DS_Store
.elasticbeanstalk/

credentials.js

temp/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
